.pdf-canvas-viewer .rpv-core__viewer,
.pdf-canvas-viewer .rpv-core__inner-container,
.pdf-canvas-viewer .rpv-core__inner-pages,
.pdf-canvas-viewer .rpv-core__inner-page-container,
.pdf-canvas-viewer .rpv-core__inner-page,
.pdf-canvas-viewer .rpv-core__page-layer,
.pdf-canvas-viewer .rpv-core__text-layer,
.pdf-canvas-viewer .rpv-core__annotation-layer {
	background: transparent;
}

.rpv-core__inner-pages.rpv-core__inner-pages--vertical {
	display: flex;
	align-items: center;
	justify-content: center;
}
